<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Page</title>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" %>
    <!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%= stylesheet_link_tag "admin_feedback", media: "all" %>
</head>
<body>
    <div class="mobile-navbar">
        <button class="menu-toggle">
                <i class="fas fa-bars"></i> 
        </button>
        <%= button_to destroy_user_session_path, method: :delete, class: "logout-btn-mobile" do %>
            <i class="fas fa-sign-out-alt"></i>
        <% end %>
    </div>
    
    <div class="container">
       <div id="flash-popup" class="flash-popup" style="display: none;">
          <span id="flash-message"></span>
        </div>
      <%= render 'shared/admin/sidebar' %>
        <main class="main-content">
          <header class="header">
            <h2>Employee Feedbacks</h2>
            <div class="date">
                <%= form_with url: admin_feedbacks_path, method: :get, class: "date-form", local: true do |f| %>
                    <label for="datePicker" id="datePickerIcon" class="calendar-icon">
                        <i class="fas fa-calendar-alt"></i>
                    </label>
                    
                        <span class="selected-date"><%= @date.strftime("%B %d, %A %Y") %></span>
                        <%= f.date_field :date, value: @date, onchange: "this.form.submit();", class: "date-picker hidden", id: "datePicker" %>
                      <% end %>
                </div>
        
          </header>
          <hr class="header-divider">

      <div class="card-container">
          <section class="feedback-cards">
          <% if @feedbacks.present? %>
            <% @feedbacks.each do |feedback| %>
              
              <div class="card">
                <p><strong>Name:</strong> <%= feedback.user.name %></p>
                <p><strong>Email:</strong> <%= feedback.user.email %></p>
                <p><strong>Snacks Rating:</strong> 
                  <% 5.times do |i| %>
                    <% if i < (feedback.rating_for_snack || 0) %>

                      <span class="star checked">&#9733;</span>
                    <% else %>
                      <span class="star">&#9733;</span>
                    <% end %>
                  <% end %>
                </p>
                <p><strong>Dinner Rating:</strong>
                  <% 5.times do |i| %>
                    <% if i < (feedback.rating_for_dinner || 0) %>
                      <span class="star checked">&#9733;</span>
                    <% else %>
                      <span class="star">&#9733;</span>
                    <% end %>
                  <% end %>
                </p>

                <p><strong>Comments:</strong> <%= feedback.comments_for_dinner.truncate(35) %></p>
                <div class="comments">
                  <p><strong>Comments: </strong><%= feedback.comments_for_dinner %></p>
                </div>
                <button class="view-more">View More</button>
              </div>
            <% end %>
          <% else %>
            <p class="no-records-msg">No Feedback records found for this date: <%= @date.strftime("%B %d, %A %Y") %></p>
          <% end %>
        </section>
      </div>
      
          
        </main>
    </div>
    <%= javascript_include_tag "admin_feedback" %>
</body>
</html>
